In [2]:
!kaggle competitions download -c rossmann-store-sales

Downloading sample_submission.csv.zip to D:\Projects\ds\rossmann_data_analysis

Downloading store.csv.zip to D:\Projects\ds\rossmann_data_analysis

Downloading test.csv.zip to D:\Projects\ds\rossmann_data_analysis

Downloading train.csv.zip to D:\Projects\ds\rossmann_data_analysis

  0%|          | 0.00/55.3k [00:00<?, ?B/s]
100%|##########| 55.3k/55.3k [00:00<00:00, 905kB/s]

  0%|          | 0.00/8.33k [00:00<?, ?B/s]
100%|##########| 8.33k/8.33k [00:00<00:00, 190kB/s]

  0%|          | 0.00/143k [00:00<?, ?B/s]
100%|##########| 143k/143k [00:00<00:00, 1.56MB/s]

  0%|          | 0.00/5.66M [00:00<?, ?B/s]
 18%|#7        | 1.00M/5.66M [00:00<00:02, 2.42MB/s]
 35%|###5      | 2.00M/5.66M [00:00<00:01, 2.43MB/s]
 53%|#####3    | 3.00M/5.66M [00:01<00:01, 2.42MB/s]
 71%|#######   | 4.00M/5.66M [00:01<00:00, 2.48MB/s]
 88%|########8 | 5.00M/5.66M [00:02<00:00, 2.46MB/s]
100%|##########| 5.66M/5.66M [00:02<00:00, 2.46MB/s]

In [134]:
import pandas as pd
import numpy as np

In [135]:
store = pd.read_csv("data/store.csv")

In [136]:
store.count()

Store                        1115
StoreType                    1115
Assortment                   1115
CompetitionDistance          1112
CompetitionOpenSinceMonth     761
CompetitionOpenSinceYear      761
Promo2                       1115
Promo2SinceWeek               571
Promo2SinceYear               571
PromoInterval                 571
dtype: int64

In [137]:
store['unknownCompetitionYear']=0
store.loc[store['CompetitionOpenSinceYear'].isnull(),'unknownCompetitionYear'] =1

In [138]:
store['CompetitionDistance'] = store['CompetitionDistance'].fillna(store['CompetitionDistance'].max())

In [139]:
store['CompetitionOpenSinceMonth'] = store['CompetitionOpenSinceMonth'].fillna(store['CompetitionOpenSinceMonth'].min())

In [140]:
cosy_fillna = store.groupby(['StoreType','Assortment'])['CompetitionOpenSinceYear'].min().reset_index()

In [141]:
cosy_fillna.fillna(2000,inplace=True)

In [142]:
cosy_fillna.loc[cosy_fillna['CompetitionOpenSinceYear']<1995,'CompetitionOpenSinceYear'] = 1995

In [143]:
#bb store opened way earlier compared to other  and not opened recently on average : 1999 - 2008 / 2002
#ba stores are relatively new : 2006 - 2014 / 2011
#bc store are not available

In [144]:
store = store.merge(cosy_fillna,left_on=['StoreType','Assortment'],right_on=['StoreType','Assortment'],suffixes=('','_fill'))

In [145]:
store['CompetitionOpenSinceYear'].fillna(store['CompetitionOpenSinceYear_fill'],inplace=True)

In [146]:
store.drop(columns=['CompetitionOpenSinceYear_fill'],axis=1,inplace=True)

In [147]:
store.isnull().any()

Store                        False
StoreType                    False
Assortment                   False
CompetitionDistance          False
CompetitionOpenSinceMonth    False
CompetitionOpenSinceYear     False
Promo2                       False
Promo2SinceWeek               True
Promo2SinceYear               True
PromoInterval                 True
unknownCompetitionYear       False
dtype: bool

In [148]:
df = pd.read_csv("data/train.csv")

C:\Users\Idea\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [150]:
df = df.merge(store,on='Store')

In [151]:
df['Date'] = pd.to_datetime(df['Date'])

In [159]:
df['StateHoliday'].unique()

array(['0', 'a', 'b', 'c', 0], dtype=object)

In [161]:
df.loc[df['StateHoliday']==0,'StateHoliday'] = '0'

In [163]:
df['isHoliday'] = (df['StateHoliday']!='0').astype(int)

In [173]:
df.groupby(['DayOfWeek'])['Sales'].describe()

,count,mean,std,min,25%,50%,75%,max
DayOfWeek,,,,,,,,
1,144730.0,7809.044510,4016.526273,0.0,5235.00,7310.0,9972.0,41551.0
2,145664.0,7005.244467,3142.039607,0.0,4904.00,6463.0,8491.0,34692.0
3,145665.0,6555.884138,2944.377501,0.0,4718.00,6133.0,7926.0,33151.0
4,145845.0,6247.575913,3209.806360,0.0,4536.00,6020.0,7792.0,38367.0
5,145845.0,6723.274305,3101.006008,0.0,4975.00,6434.0,8206.0,38722.0
6,144730.0,5847.562599,2873.985615,0.0,3899.25,5410.0,7220.0,31683.0
7,144730.0,204.183189,1613.243517,0.0,0.00,0.0,0.0,37376.0

In [174]:
df.groupby(['Store'])['Sales'].describe()

,count,mean,std,min,25%,50%,75%,max
Store,,,,,,,,
1,942.0,3945.704883,2015.417840,0.0,3588.25,4373.5,5220.00,9528.0
2,942.0,4122.991507,2363.628674,0.0,2806.75,4395.5,5804.50,10682.0
3,942.0,5741.253715,3298.782559,0.0,4247.50,5892.0,8152.75,15689.0
4,942.0,8021.769639,4012.592818,0.0,7322.50,9062.0,10281.00,17412.0
5,942.0,3867.110403,2389.609890,0.0,2027.00,4180.0,5419.25,11692.0
6,942.0,4562.375796,2527.359298,0.0,3408.75,5012.5,6333.50,11139.0
7,942.0,7356.902335,3969.299824,0.0,5947.25,7928.5,9785.75,18413.0
8,942.0,4610.251592,2696.883772,0.0,2916.75,4919.0,6558.00,10971.0
9,942.0,5426.816348,2891.687966,0.0,4765.50,5904.5,7086.75,13457.0
10,942.0,4634.439490,2291.821080,0.0,4417.00,5089.0,5950.25,9534.0
11,942.0,6683.955414,3632.841126,0.0,5922.00,7135.5,8630.25,22822.0
12,942.0,6316.608280,3400.997822,0.0,5426.75,6448.5,8461.75,16747.0
13,758.0,4124.773087,2429.243956,0.0,3135.25,4261.5,5784.25,10460.0
14,942.0,4555.386412,2481.297604,0.0,3459.25,5020.5,6192.50,12620.0
15,942.0,5553.619958,2901.965094,0.0,4906.50,5924.5,7359.75,13392.0
16,942.0,6335.340764,3394.545176,0.0,5159.00,7034.5,8471.25,15288.0
17,942.0,5259.541401,3292.925234,0.0,2782.25,5411.5,7450.75,17845.0
18,942.0,5446.005308,2952.044207,0.0,4459.75,5883.0,7274.50,14671.0
19,942.0,5346.251592,2965.209154,0.0,4125.75,5722.5,7329.50,12729.0
20,758.0,6334.489446,3371.801546,0.0,5209.25,7388.0,8576.00,12849.0
21,942.0,4522.041401,2644.161471,0.0,3358.50,4785.5,6291.75,13012.0
22,758.0,3695.918206,2032.834876,0.0,3160.75,4012.5,5021.75,9437.0
23,942.0,4565.073248,2548.811653,0.0,3832.75,4701.0,6133.50,13460.0
24,942.0,7763.773885,4270.307826,0.0,6697.50,8165.0,10345.00,22015.0
25,942.0,8892.311040,5151.671996,0.0,7858.75,9806.0,12125.25,24882.0
26,942.0,5538.498938,3105.701642,0.0,4436.00,5757.0,7498.25,16562.0
27,942.0,7838.438429,4460.597365,0.0,6462.00,7879.5,10603.50,25737.0
28,942.0,4332.218684,2819.430626,0.0,2462.75,4624.5,6110.75,18474.0
29,942.0,6090.403397,3433.366553,0.0,4972.50,6361.5,8072.00,15758.0
30,942.0,4367.352442,2452.841259,0.0,3453.00,4729.5,5895.50,11074.0
...,...,...,...,...,...,...,...,...
1086,942.0,6365.240977,4016.159500,0.0,4204.00,6407.5,8963.00,20489.0
1087,942.0,5228.500000,2660.400589,0.0,4691.00,5741.0,6758.75,11159.0
1088,942.0,4204.866242,2412.341826,0.0,3050.25,4414.5,5865.00,10618.0
1089,942.0,8402.582803,4368.694111,0.0,7515.00,9360.5,10971.25,19084.0
1090,942.0,5343.307856,3250.724506,0.0,2778.75,5795.0,7454.00,15914.0
1091,942.0,6888.168790,3684.588525,0.0,5953.25,7266.5,8984.75,16869.0
1092,758.0,9814.584433,4898.236161,0.0,9623.25,11229.0,12919.00,18845.0
1093,942.0,6904.761146,3608.976663,0.0,6275.75,7662.5,8971.75,17697.0
1094,758.0,3753.922164,1985.545169,0.0,3294.25,4119.5,5098.00,7720.0
1095,942.0,3969.285563,2179.436427,0.0,3106.00,4275.5,5363.50,11186.0
1096,942.0,4512.348195,2508.103001,0.0,3767.00,4715.5,6012.75,11716.0
1097,942.0,9744.599788,1900.891959,5460.0,8486.25,9603.0,10768.75,17039.0
1098,942.0,4354.997877,2500.697589,0.0,2701.50,4877.0,5950.00,12031.0
1099,942.0,7340.338641,2693.167222,0.0,6307.50,7454.5,8776.00,15536.0
1100,942.0,4423.963907,2783.419252,0.0,3210.00,4308.0,6174.50,17444.0
1101,942.0,8299.635881,4381.646703,0.0,7289.00,8742.5,10812.75,20647.0
1102,758.0,5744.054090,2922.481320,0.0,5443.25,6511.0,7487.75,12222.0
1103,942.0,4161.639066,2305.546773,0.0,3307.25,4462.5,5607.75,9825.0
1104,758.0,4481.546174,2395.521821,0.0,3818.00,5058.0,6077.00,9960.0
1105,942.0,3774.736730,2246.662467,0.0,2839.00,3811.0,5132.00,11346.0
1106,942.0,4073.217622,2225.354292,0.0,2920.25,4513.0,5451.00,10534.0
1107,758.0,5121.849604,3004.517249,0.0,4078.75,5254.0,6940.00,17074.0
1108,942.0,4758.597665,3105.518167,0.0,2218.25,4870.5,6769.50,15358.0
1109,758.0,4043.167546,2274.921169,0.0,3419.75,4164.5,5508.75,11598.0
1110,942.0,3766.970276,2142.773356,0.0,2999.25,3869.0,5049.00,11191.0
1111,942.0,4342.968153,2500.008924,0.0,3316.75,4614.0,5832.75,12492.0
1112,942.0,8465.280255,4919.925382,0.0,6780.25,8707.0,11244.50,25165.0
1113,942.0,5516.180467,2811.389470,0.0,5122.00,6018.5,7087.00,16115.0
1114,942.0,17200.196391,8343.045630,0.0,16876.00,19556.5,21948.50,35697.0
1115,942.0,5225.296178,2847.822847,0.0,4161.75,5671.0,7062.75,12491.0

In [185]:
df.groupby(['Promo2'])['Sales'].describe()

,count,mean,std,min,25%,50%,75%,max
Promo2,,,,,,,,
0,508031.0,6124.710161,4136.143923,0.0,3901.0,6038.0,8283.0,38722.0
1,509178.0,5423.718218,3506.556202,0.0,3591.0,5478.0,7448.0,41551.0

In [ ]:
#finding out popular store 
#how many weeks/days the competetion store opened for
#PromoStartAnewmonth
#are they running promo before
#find possible clusters on store
#embedding on categorical features

In [175]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,unknownCompetitionYear,isHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,0,0
1,1,4,2015-07-30,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,0,0
2,1,3,2015-07-29,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,0,0
3,1,2,2015-07-28,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,0,0
4,1,1,2015-07-27,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,0,0